.l_wrapper{
  box-shadow:inset 0 0 10px red;
}
.header{
  border-bottom:1px solid #222;
}

.header-inside{
  box-shadow:inset 0 0 5px red;
  display:flex;
  align-items:center;
  justify-content: center;
}
.header-menu{
  flex-grow:1;
}
.avatar{
  box-shadow:inset 0 0 10px blue;
  display:flex;
  flex-direction:row-reverse;
  align-items:center;
  gap:10px;
  text-align:right;
  line-height:var(--lh-thin)

}
.avatar h2{
  box-shadow:inset 0 0 10px blue;
}

.avatar p{
  box-shadow:inset 0 0 10px blue;
}
.avatar-profile{
  border-radius:50%;
  
  width: 48px;
  height:48px;
}

.card{
  background-color: var(--color-light);
  border-radius:var(--radius);
  padding:24px;
}
.card-header{

}

.card-status{
  line-height: 30px;
  display:flex;
  align-items:center;
  gap:10px;
}

.card-status::before{
  content:'';
  /* display:inline-block; */
  width: 10px;
  height: 10px;
  border-radius:50%;
  /* background-color: #eee; */

}
.card-status[data-status="standby"]::before{
  background-color:#eee;
  background-color: var(--color-gray-lighten);
}

.card-status[data-status="progress"]::before{
  background-color:var(--color-green);
 
}
.card-header h1{
  line-height: var(--lh-thin);
  font-size: 2.6rem;
}


.card-controls{
    display:flex;
    flex-direction:column;
    gap:10px;
}

